@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.dropdown-menu {
    background: rgb(45, 18, 0);;
    border: none;
    border-radius: 0.1;
}

.dropdown-item {
    color: #ffffff;
}

.dropdown-item:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, .075);
    border-left: 4px solid rgb(218, 87, 0);
}

.dropdown-divider{
    background-color: rgb(218, 87, 0);
    height: 3px;
}

.topbar-divider {
    width: 0;
    border-right: 1px solid;
    color: rgb(218, 87, 0);
    height: 1.7rem;
    margin: auto 1rem;
}

